.weatherMap {
    width: 245px;
    min-height: 300px;
    border: 1px solid black;
    background-color: gray;
    min-height: 200px;
}
.mapContainer{
    height: 600px;
    width: 700px;
    border: 1px solid black;
}