.weatherMap {
    width: 245px;
    min-height: 300px;
    background-color: gray;
    min-height: 200px;
}

.mapContainer {
    height: 600px;
    width: 700px;
    border: 5px solid #ffffff;
}